<header class="page_header header_white toggler_xs_right section_padding_30 height-auto">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 display_table">
             <div class="header_left_logo padding-left0 display_table_cell">
                <a href="dashboard.html" class="logo top_logo padding-0">
                <img src="assets/images/horizontal2.png" alt="">
                </a>
             </div>
             <div class="header_mainmenu display_table_cell text-center padding-0">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                   <ul class="mainmenu nav sf-menu">
                      <li class="active">
                         <a href="#">Home</a>
                      </li>
                      <li>
                         <a href="/borrowing">Borrowing</a>
                      </li>
                      <li>
                         <a href="/faq">FAQ's</a>
                      </li>
                      <li>
                         <a href="/contactus">Contact</a>
                      </li>
                      <li>
                         <!-- <a href="blog-right.html">Sign In</a> -->
                         <div class="col-sm-4">
                            <div class="loan-form-submit">
                               <button type="submit" id="sign-in-button" name="loan_submit" class="theme_button color1 wide_button padding10-30">Sign IN</button>
                            </div>
                         </div>
                      </li>
                   </ul>
                </nav>
                <!-- eof main nav -->
                <!-- header toggler -->
                <span class="toggle_menu">
                   <span></span>
                </span>
             </div>
             <!-- <div class="header_right_buttons display_table_cell text-right hidden-xs">
                <p class="header-meta grey">
                                <i class="fa fa-phone highlight" aria-hidden="true"></i>
                                <strong>1-888</strong>-123-4567
                            </p>
                </div> -->
          </div>
       </div>
    </div>
 </header>
