               <!--[if lt IE 9]>
               <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
               <![endif]-->
               <div class="preloader">
                <div class="preloader_image"></div>
             </div>
          
             <div class="header_top secondary-bg ">
             <div class="container">
                <div class="row">
                   <div class="col-sm-12 margin-0 padding-left0">
                      <div class="contact_info col-sm-6 margin-top-0 margin-bottom-0 padding-0">
                         <a href="mailto:info@example.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@example.com</a>
                         <a href="tel:+61-1234-5678-9" class="margin-left-50"><i class="fa fa-phone" aria-hidden="true"></i> +61-1234-5678-9</a>
                      </div>
                        
                   <div class="col-md-2 col-sm-2 to_animate margin-bottom-0 pull-right padding-right-0 margin-top-4">
                   <div class="widget_text text-right">
                      
                      <div class="col-sm-3 media small-teaser margin-0 padding-0 ">
                         <div class="media-middle">
                            <a href="#" class="social-icon color-white color-icon border-icon -icon soc-facebook border-0 margin-bottom-0"></a>
                         </div>
                         
                      </div>
                      <div class="col-sm-3 media small-teaser margin-0 padding-0 ">
                         <div class="media-middle">
                            <a href="#" class="social-icon color-icon border-icon -icon soc-twitter color-white border-0 margin-bottom-0"></a>
                         </div>
                        
                      </div>
                      <div class="col-sm-3 media small-teaser margin-0 padding-0">
                         <div class="media-middle">
                            <a href="#" class="social-icon color-icon border-icon -icon soc-linkedin color-white border-0 margin-bottom-0"></a>
                         </div>
                         
                      </div>
                      <div class="col-sm-3 media small-teaser margin-0 padding-0">
                         <div class="media-middle">
                            <a href="#" class="social-icon color-icon border-icon -icon soc-pinterest color-white border-0 margin-bottom-0"></a>
                         </div>
                        
                      </div>

                   </div>

                </div>
                        
                   </div>
                </div>
             </div>
          </div>
        


             <div id="canvas">
                <div id="box_wrapper">
                  
                    <app-headersignin></app-headersignin>
                  
                
                   

       <div class="col-sm-12 background-white margin-top-0 margin-bottom-0 padding-left-100 padding-right-100">
          <h1 class="text-center color-black">Recent Updates</h1>
          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Home loan Approved</span>
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
              <span class="blockquote font-16 padding-right-25 pull-right line-height-40 pull-right"> 1 hour ago</span>
          </div>
          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Bank statement has to be updated</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="blockquote font-16 padding-right-25 pull-right line-height-40"> 1 week ago</span>
          </div>

          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Installment due</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="blockquote font-16 padding-right-25 pull-right line-height-40"> 3 weeks ago</span>
          </div>
          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Fine Imposed</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="blockquote font-16 padding-right-25 pull-right line-height-40"> 1 month ago</span>
          </div>
          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Vehicle loan Approved</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="blockquote font-16 padding-right-25 pull-right line-height-40"> 2 years ago</span>
          </div>
          <div class="col-sm-12 notification-border height-70 margin-bottom-0 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Medical loan Rejected</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="blockquote font-16 padding-right-25 pull-right line-height-40"> 3 years ago</span>
          </div>
          <div class="col-sm-12 notification-border height-70 margin-top-0">
             <!-- <span class="fas fa-external-link-alt font-20"></span> -->
             <span class="font-size-18 line-height-40">Home loan Approved</span>
             
             <!-- <span class="far fa-times-circle line-height-55 pull-right font-20 margin-top-10"></span> -->
             <span class="font-16 padding-right-25 pull-right line-height-40"> 20 years ago</span>
          </div>










         <!--  
                   <table class="table notifications-table table-striped background-white font-size-14 margin-top-0 border-table margin-bottom-0 ">
                      <thead>
                         <tr>
                            <th>Description</th>
                            <th>Time &nbsp;&nbsp; | &nbsp;&nbsp; Date</th>
                            
                            
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>Home loan Approved</td>
                            <td>02:00 pm &nbsp;&nbsp;|&nbsp;&nbsp; 19/04/2019</td>
                            
                            
                         </tr>
                         <tr>
                            <td>Need to update the latest Bank Statement</td>
                            <td>12:40 am &nbsp;&nbsp; | &nbsp;&nbsp;16/05/2019</td>
                            
                            
                         </tr>
                         <tr>
                            <td>Medical Loan Rejected</td>
                            <td>09:20 pm &nbsp;&nbsp;| &nbsp;&nbsp;23/6/2019</td>
                            
                           
                         </tr>
                         <tr>
                            <td>Medical Loan Rejected</td>
                            <td>09:20 pm &nbsp;&nbsp;|&nbsp;&nbsp; 23/6/2019</td>
                            
                           
                         </tr>
                      </tbody>
                   </table> -->
                </div>

                  
                  
                <app-footersignin></app-footersignin>
                </div>
                <!-- eof #box_wrapper -->
             </div>
             <!-- eof #canvas -->
             
             